---

---

<article class="flex flex-col gap-4">
    <p class="text-lg text-gray-300">
        I am a <span class="font-bold">full-stack developer</span> with a strong focus on front-end technologies. <br>
        I have learn a <span class="font-bold">variety of languages and frameworks</span>, but I'm' always looking to learn more. <br>
    </p>
    <p class="text-lg text-gray-300 font-bold">
        I am currently working on few projects :
    </p>
    <ul class="list-disc list-inside">
        <li>A feature flag and experiments platform</li>
        <li>A Auth Manager library</li>
        <li>A Cache Manager library</li>
    </ul>
</article>