---
import Skill from "./Skill.astro";
import SkillsEnd from "./SkillsEnd.astro";
---

<div class="flex flex-col gap-4 w-full">
    <section class="w-full flex flex-row gap-12">
        <article class="py-6 w-full">
            <h2 class="font-bold underline text-xl text-orange-300">Programming Languages</h2>
            <Skill
                    name="HTML"
                    percent={100}
                    color="crimson"
            />
            <Skill
                    name="CSS"
                    percent={100}
                    color="royal"
            />
            <Skill
                    name="Typescript"
                    percent={90}
                    color="sapphire"
            />
            <Skill
                    name="Python"
                    percent={80}
                    color="goldenrod"
            />
            <Skill
                    name="Rust"
                    percent={75}
                    color="caribbean"
            />
            <Skill
                    name="SQL"
                    percent={60}
                    color="magenta"
            />
            <Skill
                    name="C"
                    percent={40}
                    color="lavender"
            />
        </article>

        <article class="py-6 w-full">
            <h2 class="font-bold underline text-xl text-orange-300">Web Frameworks</h2>
            <Skill
                    name="React"
                    percent={90}
                    color="sapphire"
            />
            <Skill
                    name="Astro"
                    percent={80}
                    color="caribbean"
            />
            <Skill
                    name="Vite"
                    percent={80}
                    color="goldenrod"
            />
            <Skill
                    name="VueJS"
                    percent={50}
                    color="emerald"
            />
            <Skill
                    name="Svelte"
                    percent={50}
                    color="tangerine"
            />
            <Skill
                    name="NextJS"
                    percent={40}
                    color="lavender"
            />
            <Skill
                    name="SvelteKit"
                    percent={35}
                    color="rose"
            />
        </article>
    </section>

    <section class="w-full flex flex-row gap-12">
        <article class="py-6 w-full">
            <h2 class="font-bold underline text-xl text-orange-300">Backend Technologies</h2>
            <Skill
                    name="FastAPI"
                    percent={90}
                    color="turquoise"
            />
            <Skill
                    name="Fastify"
                    percent={70}
                    color="slate"
            />
            <Skill
                    name="Express"
                    percent={50}
                    color="amber"
            />
            <Skill
                    name="Crystal"
                    percent={50}
                    color="plum"
            />
        </article>

        <article class="py-6 w-full">
            <h2 class="font-bold underline text-xl text-orange-300">Databases & Storage</h2>
            <Skill
                    name="PostgreSQL"
                    percent={75}
                    color="royal"
            />
            <Skill
                    name="Redis"
                    percent={70}
                    color="crimson"
            />
            <Skill
                    name="MongoDB"
                    percent={65}
                    color="emerald"
            />
            <Skill
                    name="SQLite"
                    percent={40}
                    color="charcoal"
            />
        </article>
    </section>

    <section class="w-full flex flex-row gap-12">
        <article class="py-6 w-full">
            <h2 class="font-bold underline text-xl text-orange-300">DevOps & Cloud</h2>
            <Skill
                    name="Git"
                    percent={90}
                    color="coral"
            />
            <Skill
                    name="Docker"
                    percent={70}
                    color="sapphire"
            />
            <Skill
                    name="GitHub Actions"
                    percent={70}
                    color="slate"
            />
            <Skill
                    name="RabbitMQ"
                    percent={60}
                    color="amber"
            />
            <Skill
                    name="Kubernetes"
                    percent={40}
                    color="lavender"
            />
        </article>
    </section>

    <article class="py-6">
        <SkillsEnd />
    </article>
</div>