---
import Element from "../components/Element.astro";
import List from "../components/List.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Education" currentPage="/education">
    <main>
    </main>
</Layout>
