---
import Introduction from "../components/Introduction.astro";
import Skills from "../components/skills/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lylian Guerra--Rago" currentPage="/">
	<main>
		<Introduction />
		<Skills />
	</main>
</Layout>
