---
import List from "../components/List.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My projects" currentPage="/projects">
    <main>
        <List
                title="Projects"
        >
            <p>test</p>
        </List>
    </main>
</Layout>
