---
interface Props {
    currentPage: string;
}

const { currentPage } = Astro.props;
---
<header class="py-4">
    <div class="mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="flex w-full md:w-auto justify-between items-center">
            <h1 class="text-yellow-500 text-2xl font-bold">Lylian Guerra--Rago</h1>

            <button
                    class="md:hidden hamburger-menu"
                    aria-label="Toggle menu"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>

        <nav class="
            mobile-menu
            hidden
            md:block
            w-full md:w-auto
            absolute md:relative
            top-16 md:top-0
            left-0 md:left-auto
            bg-gray-900 md:bg-transparent
            z-20
        ">
            <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 p-4 md:p-0">
                <li class="text-center"><a href="/" class={`${currentPage === "/" ? "text-yellow-400" : "text-white"} hover:text-yellow-500 transition-colors`}>Me</a></li>
                <li class="text-center"><a href="/education" class="text-white hover:text-yellow-500 transition-colors">Education</a></li>
                <li class="text-center"><a href="/experience" class="text-white hover:text-yellow-500 transition-colors">Experience</a></li>
                <li class="text-center"><a href="/projects" class="text-white hover:text-yellow-500 transition-colors">Projects</a></li>
                <li class="text-center"><a href="/contact" class="text-white hover:text-yellow-500 transition-colors">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    @keyframes fade-in-up-x {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-fade-in-up-x {
        animation: fade-in-up 0.6s ease-out forwards;
    }
</style>

<script>
    if (document) {
        const hamburger_menu = document.querySelector('.hamburger-menu')
        const mobile_menu = document.querySelector('.mobile-menu')
        if (hamburger_menu && mobile_menu) {
            hamburger_menu.addEventListener('click', function() {
                mobile_menu.classList.toggle('hidden');
            });
        }
    }
</script>
