---
---
<section class="py-10 ">
    <div class="container mx-auto">
        <h2 class="text-3xl font-extrabold animate-fade-in-up">Hey, I'm <span class="text-yellow-500">Lylian Guerra--Rago</span></h2>
        <h3 class="text-2xl animate-fade-in-up">
            A 20 years old Fullstack Web Developer from <span class="italic">Lyon, France</span>
        </h3>
        <p class="text-gray-400 mt-4 animate-fade-in-up">
            I'm mainly focused on <span class="font-bold">front-end and back-end development</span>, but I've also done languages at more or less low levels,<br>
            I was in charge of the <span class="font-bold">complete redesign of a front-end application</span>,<br>
            where I've also had to <span class="font-bold">research and develop a new architecture</span>.
        </p>
        <div class="flex px-5 py-5">
            <a href="https://github.com/ReysinProject/" target="_blank" class="bg-gray-900 p-2 rounded text-green-400 font-bold italic animate-fade-in-up hover:underline cursor-pointer">I also have on some open source project</a>
        </div>
    </div>

    <div class="container mx-auto py-6">
        <div class="flex flex-row items-center gap-4">
            <a class="bg-yellow-500 text-black px-4 py-2 rounded-lg hover:bg-yellow-400 transition-colors animate-fade-in-up" href="mailto:contactle.oven108@passmail.net">
                Contact me
            </a>
            <a class="text-purple-600 px-4 py-2 rounded-lg hover:text-purple-700 underline transition-colors animate-fade-in-up" href="https://github.com/ER-28/portfolio/blob/master/public/cv.png?raw=true" target="_blank">Download CV</a>
        </div>
    </div>
</section>