---
import Header from "../components/layout/Header.astro";
import Social from "../components/layout/Social.astro";
interface Props {
	title: string;
	currentPage: string;
}

const { title, currentPage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- png favicon -->
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-4/5 mx-auto flex flex-col justify-center bg-gray-950 text-white">
		<Social />
		<Header currentPage={currentPage} />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family:
			DejaVu Sans Mono,
			monospace;
	}
</style>
